 /*internal 
        /* tüm ana sayfa-li class ı taşıyanlara uygula*/
        .anasayfa-li
        {
            float:left;
            margin-right:5px;
            list-style-type:none;
            background-color: rgb(175, 192, 188);
            padding:4px;
            border-radius: 5px;

        }
         /* kutu ve bolum sınıflarını ıceren elementlere uygula */
         .kutu.bolum
        {
            background-color: darkgreen
        }

        /*kutu class ının içindeki bolum class lı element uygula */
        .kutu .bolum{
            background-color: blueviolet;
        }
        .kutu{
           border:5px solid darkblue;
        }
        .bolum{
            border:6px dashed pink;
        }
        /* mail elementlerıne uygula */
        main
        {
            background-color: tomato;
            padding: 1rem;
        }
        /*Aşağıdaki css hem ul hem ol için geçerlidir.              */
        ul,ol{
            list-style-type:none;
        }
        
        section
        {
            background-color: bisque;
            display:inline;

        }

        /* id si section 2 olanlara uygula */
        /*#section2 */

        section#section2 
        {
            
            background-color: orange;
            display:inline;

        }

        li :nth-child(3)
        {
           
            border-radius: 50%;

        }

       
    